body {
  height: 100vh;
  background: linear-gradient(to bottom, #8ec3e9, #c9dee9);
  user-select: none;
}

#musicolab-logo {
  position: absolute;
  opacity: 0.8;
  top: 6%;
  left: 14%;
  width: 24%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 4.5vw;
  padding: 2.5rem 0 1.5rem;
  text-align: center;
  color: transparent;
  /* background: linear-gradient(to top left, #b5dac5, #eb850d); */
  background: linear-gradient(to bottom, white, #e9a353);
  background-clip: text;
}

/* --------------------- */
/* SELECTORS FOR TOOLBAR */
/* --------------------- */
#toolbar,
.preface-audio-help,
.preface-annotation-help {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 4.5px;
  background-color: rgba(250, 242, 208, 0.7);
  user-select: none;
  border: 1.5px solid black;
  border-radius: 10px;
  transform: translate(-3.5%);
  width: 85%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

  font-family: Verdana, Manrope, Great Vibes, sans-serif;
}

.preface-annotation-help {
  width: 65% !important;
  transform: translate(0%) !important;
}

/* class for all 3, left + center + right toolbar-controls  */
.toolbar-controls {
  background-color: rgba(250, 242, 208, 0.4);
  padding: 0.5rem 0.5rem;
  border: 1.5px solid black;
  border-radius: 15px;
}

#toolbar > * {
  display: flex;
  align-items: center;
}

#left-toolbar-controls {
  flex: 0.1;
  justify-content: center;
}

#annotation-list {
  font-size: 15px;
}

#delete-annotation-btn:hover {
  animation: fa-fade 1s infinite;
}

#right-toolbar-controls {
  flex: 0.7;
  justify-content: center;
}

#audio-file-name {
  white-space: nowrap;
}

#info-question {
  flex: 0.05;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#info-question:hover {
  color: orangered;
}

.editing-on {
  /* background-color: rgba(128, 0, 128, 0.7); */
  background-color: rgba(255, 165, 0, 0.7);
}
/* On modal save annotation description */
#annotationDescription {
  text-align: justify;
  white-space: pre-wrap;
}

#toolbar .no-border:hover {
  color: tomato;
}

.btn-edit-mode {
  padding: 0;
}

/* -------------------------- */
/* Wavesurfer generates several canvas elements, each containing only a segment of the audio waveform, rather than a single canvas with the complete duration. The maxCanvasWidth Wavesurfer Option allows for further customization of this feature using JavaScript. 
Furthermore, Wavesurfer generates two parallel canvas elements to display two distinct waveforms: the basic waveform with z-index 2 (indicated as <canvas></canvas> element and the progressed waveform with z-index 3 indicated as <wave></wave>.
/* -------------------------- */

/* .left-controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.center-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */

/* ////// */
#audio-player-and-controls {
  max-width: 1300px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  transform: translate(3%);
}

#audio-player {
  display: flex;
  /* overflow: hidden; */
  /* flex-direction: column; */
  justify-content: space-between;

  /* flex-wrap: wrap; */
  /* align-content: flex-start; */
  /* gap: 1em; */
}

#audio-container {
  /* display: block; */
  width: 150%;
  z-index: 20;
}

#wavetimeline {
  width: 100%;
  border-top-left-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding-top: 5px;
  background-color: rgba(10, 191, 255, 0.2);
  /* background-color: transparent; */
  border: 1.5px solid black;
}

#waveform {
  display: grid;
  padding-top: 10px;
  width: 100%;
  background-color: rgba(201, 222, 233, 0.5);
  border-left: 1.5px solid black;
  border-right: 1.5px solid black;

  opacity: 1;
}

.drag-over {
  /* background-color: #f1f1f1; */
  /* animation: fa-bounce 1s infinite; */
  animation: fa-fade 1s infinite;
  border: dashed 2.5px red;
  /* display: block; */
}

.drag-text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 3vw;
  /* position: absolute; */
  /* position: relative; */
  color: black;
  z-index: 20;
  /* left: 32%; */
  /* top: 28%; */
  /* display: none; */
  /* display: inline-block !important; */
}

/* .drag-text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 3vw;
  position: absolute;
  color: black;
  left: 32%;
  top: 28%;
  display: none;
} */

#waveform > minimap {
  /* display: none !important; */
  background-color: rgba(161, 212, 240, 0.35);
}

/*  REGIONS  */
.wavesurfer-region {
  /* display: none !important; */
  z-index: 1 !important;
}

/* MARKERS */
.wavesurfer-marker {
  z-index: 4 !important;
}

.span-chord-text {
  font-size: 140% !important;
  flex: 0 0 auto;
  white-space: nowrap;
  height: 2.2rem;
  transform: translateY(12px);
  margin-top: -12px;
  background-color: rgba(211, 211, 211, 0.7);
  color: rgba(13, 106, 182, 0.7);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.span-chord-symbol {
  flex: 0 0 auto;
  white-space: nowrap;
  height: 2rem;
  transform: translateY(12px);
  margin-top: -12px;
  background-color: rgba(211, 211, 211, 0.7);
  color: rgba(13, 106, 182, 0.8);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* --------------------------- */
/* CLASSES FOR PLAYER & EDITOR */
/* --------------------------- */
.player-controls {
  display: flex;
  /* margin-top: auto; */

  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 191, 255, 0.2);
  user-select: none;
  border: 1.5px solid black;
  border-bottom-left-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.player-controls .center-controls {
  margin-left: 5%;
  gap: 30%;
}

.fa-play:hover {
  color: rgba(250, 150, 27, 0.82) !important;
  animation: fa-fade 1s infinite;
}

/* --------------------------- */
/* CLASSES FOR AUDIO I/O */
/* --------------------------- */
.audio-sidebar {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  background-color: rgba(0, 191, 255, 0.2);
  border: 1.5px solid black;
  border-left: 0px solid black;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-out;
}

#audio-sidebar-controls {
  width: 10%;
  transform: translate(-100%);
  opacity: 0;
  justify-content: space-evenly;
}

#audio-sidebar-text {
  writing-mode: vertical-rl;
  font-weight: bold;
  font-size: 20px;
  width: 5%;
  transform: translate(-230%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#audio-sidebar-text :hover {
  color: rgba(255, 194, 71, 0.8);
}

/* class to reverl elements back to their un-transformed position */
.shown {
  opacity: 1 !important;
  transform: translate(0) !important;
}

/* --------------------- */
/* GENERAL USAGE CLASSES */
/* --------------------- */
/* gimmick class to hide marker-label span elements without using display:none; */
.invisible-up {
  margin-top: -100em;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.pointer-events-disabled {
  pointer-events: none !important;
}

.no-opacity {
  opacity: 0;
  pointer-events: none;
}

.no-border {
  border: none;
  background-color: transparent;
  border: 1.5px transparent;
}

.no-border:hover {
  color: rgba(255, 255, 255, 0.6);
}

/* disable pointer events for no-border disabled buttons */
.no-border:disabled {
  pointer-events: none;
}

.control-label {
  font-size: x-small;
  font-weight: bold;
  width: 4.8rem;
}

.no-padding {
  padding: 0 !important;
}

/* .fa-solid:hover {
  animation: fa-fade 1s infinite;
} */

/* --------------------------- */
/* SELECTORS FOR FONT ELEMENTS */
/* --------------------------- */
@font-face {
  font-family: 'SVG_fonts';
  src: url('./SVG_fonts.otf');
  font-style: normal;
  font-weight: 400;
}

.svg-font {
  font-family: SVG_fonts;
  font-size: 25px;
}

.root,
.accidental {
  font-size: 150%;
  font-family: SVG_fonts;
}

.variation {
  font-size: 150%;
  font-family: SVG_fonts;
}

.modal {
  font-size: 1.2rem;
  line-height: 1.2;
  padding-top: 10vmin;
  text-align: center;
}

/* using id precedence over classes, to override font for some child table elements while still preserving the class */
#disable-font-table {
  font-family: Arial;
  font-size: 115%;
  font-weight: bold;
  vertical-align: middle;
  padding: 0;
}

#disable-font-table-sus {
  /* font-family: Arial; */
  font-family: Auto;
  font-size: 85%;
  font-weight: bold;
  vertical-align: middle;
  padding: 0;
}

.Chords td:hover {
  background-color: rgba(255, 255, 255, 0.075);
  cursor: pointer;
}

#show-chord-editor {
  /* background-color: azure; */
  background-color: rgba(0, 0, 0, 0.5);
}

#chord-editor {
  display: block;
  z-index: 15;
  position: relative;
}

#disable-font-label {
  /* font-family: auto; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  white-space: pre;
}

/* ---------------------------- */
/* CLASSES CUSTOMIZING TOOLTIPS */
/* ---------------------------- */
.tippy-box[data-theme~='custom'] {
  /* background-image: linear-gradient(to bottom right, #21c994, #94dd89); */
  background-image: linear-gradient(
    to bottom right,
    rgba(250, 242, 208, 1),
    rgb(144, 217, 244)
  );
  opacity: 0.8;
  /* background-color: tomato; */
  /* color: burlywood; */
  color: black;
}

/* ------------------------ */
/* Styling webkit scrollbar */
/* ------------------------ */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  display: block;
  width: 20px;
  height: 20px;
  /* background-color: gray; */
  background-color: rgb(197, 224, 226);
  border-radius: 20px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3E%3Cpolygon fill="%23000" points="2,8 10,0 10,16" transform="rotate(0 8 8)" /%3E%3C/svg%3E');
}
::-webkit-scrollbar-button:horizontal:end:increment {
  display: block;
  width: 20px;
  height: 20px;
  /* background-color: gray; */
  background-color: rgb(197, 224, 226);
  border-radius: 20px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3E%3Cpolygon fill="%23000" points="2,8 10,0 10,16" transform="rotate(180 8 8)" /%3E%3C/svg%3E');
}
